  <!DOCTYPE html>
  <html>
    <head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <link rel="stylesheet" href="https://cdn.jsdelivr.net/semantic-ui/2.2.10/semantic.min.css">
      <link rel='stylesheet' href='/style/main.css' />

      <script src="https://unpkg.com/vue"></script>
      <script src="https://unpkg.com/axios/dist/axios.min.js"></script>

      <title>GRIT</title>
    </head>
    <body>
    <div id="app">
      <div class="ui container">

        <div class="ui secondary menu">
          <a>
            <div class="ui small image">
              <a href="index.html"><img src="/images/logo_v2.png"></a>
            </div>
          </a>
          <a href="todo.html" v-if="is_login" class="item">
            My Todo List
          </a>

          <div class="right menu">
            <div v-if="!is_login" class="item">
              <button class="ui orange basic button" id="btnSignUp">Sign up</button>
            </div>
            <div v-if="!is_login" class="item">
              <button class="ui green basic button" id="btnLogin">Sign in</button>
            </div>
            <div v-if="!is_login" class="item">
              <a href="http://localhost:3000/auth/facebook" class="ui facebook button"><i class="facebook icon"></i>Sign in</a>
            </div>

            <div v-if="is_login" class="item">
              <button class="ui red button" v-on:click="signOut">Sign out</button>
            </div>
          </div>
        </div> <!-- end of menu-->


        <div class="ui grid">
            <div class="row"></div>
        </div>

      <div class="ui grid">
        <div class="eight wide column">

          <div class="ui card">
            <div class="content">
              <div class="header">Sign in</div>
            </div>
            <div class="content">
              <form class="ui huge form" v-on:submit="onSubmitForm" >
                <div class="field">
                  <input type="text" name="username" v-model="user_form.username" placeholder="Username">
                </div>
                <div class="field">
                  <input type="password" name="last-name" v-model="user_form.password" placeholder="Password">
                </div>

                <button class="ui button green right floated" type="submit">Sign in</button>
              </form>
            </div>

          </div> <!-- ui card -->

        </div> <!-- column -->
      </div> <!-- end of ui grid-->

      <div class="footer">
        <ul>
            <li><a href="#">About</a></li>
            <li><a href="#">Platform</a></li>
            <li><a href="#">Blog</a></li>
            <li><a href="#">Community</a></li>
            <li><a href="#">Jobs</a></li>
            <li><a href="#">Terms</a></li>
            <li><a href="#">Privacy</a></li>
        </ul>

        <div class="badge-container vertical-container">
          <ul class="flex-container-badge">
            <li class="ui small image">
              <a href="#"><img src="/images/app_store_badges/app-store-badge.svg"/></a>
            </li>

            <li class="ui small image">
              <a href="#"><img src="/images/app_store_badges/google-play-badge.png"/></a>
            </li>
          </ul>

        </div>

      </div> <!-- end of footer -->


    </div> <!-- end of ui container -->

    </div> <!-- end of app-->
    <script type="text/javascript" src="dist/jquery.min.js"></script>
    <script type="text/javascript" src="dist/semantic.min.js"></script>
    <script src="./js/main.js"></script>
    <script src="./js/vue-login.js"></script>

  </body>
</html>
